extends layout

block page
  .navbar-wrapper
    block navbar

  block page-content

  block footer
    .container
      footer
        p
          | © 2013 TimNew ·
          a(href='http://github.com/timnew') Github
          |  ·
          a(href='http://twitter.com/timnew') Twitter

block body-scripts
  != assets.js('home')

