extends layout

block page
  #body-wrapper
    .navbar-wrapper
      block navbar
        .container(data-widget="NavBar")
          .navbar.navbar-inverse
            .navbar-inner
              button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.brand(href='/') Live Hall

              .nav-collapse.collapse
                ul.nav
                  li.dropdown
                    a(href="#", data-toggle='dropdown')
                      | Room
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#', data-action-handler="browseRoom") Find a Room
                      li
                        a(href='#', data-action-handler="newRoom") Create a Room

                  li.dropdown
                    a(href='#', data-toggle='dropdown')
                      | Slides
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='#', data-action-handler="browseSlides") Find a slides
                      li
                        a(href='#', data-action-handler="newSlides") Upload a slides

                  li.dropdown
                    a.dropdown-toggle(href='#', data-toggle='dropdown')
                      | Contact
                      b.caret
                    ul.dropdown-menu
                      li
                        a(href='http://github.com/timnew') Github
                      li
                        a(href='https://twitter.com/timnew') Twitter
                      li
                        a(href='mailto:timnew.wti@gmail.com') Email

    block page-content

    #footer-placeholder

  block footer
    .container
      footer
        p
          | © 2013 TimNew · 
          a(href='http://github.com/timnew') Github
          |  · 
          a(href='http://twitter.com/timnew') Twitter

block body-scripts


