extend presentation

block slides
  != content

block body-scripts
  script(src="//www.youtube.com/iframe_api")
  != assets.js('presenter/SlidesWidgets')

  if isPresenter
    != assets.js('presenter/DeckJsPresenter')
  else
    != assets.js('presenter/DeckJsViewer')



