[class^="icon-ex-"], [class*=" icon-ex-"]
  display inline-block
  width 14px
  height 14px
  margin-top 1px
  line-height 14px
  vertical-align text-top
  background-position 0
  background-repeat no-repeat

.icon-large
  width 48px
  height 48px

.icon-ex-copy-white
  background-image url("../sprites/icon-copy-white.png")

.icon-ex-link
  background-image url("../sprites/icon-link.png")

.icon-ex-presentation.icon-large
  background-image url("../sprites/icon-presentation.png")
