.jumbotron
  margin 40px 0
  text-align center

  p
    margin 30px

  h1
    font-size 100px
    line-height 1

  .lead
    font-size 24px
    line-height 1.25

  .btn-xlarge
    font-size 21px
    padding 14px 24px

  .qrcode
    display inline-block
