extend presentation

block live-presentation
  script(src='/live-hall/revealjs/subscriber.js')
  if control
    script(src='/live-hall/jquery-1.7.2.min.js')
    script(src='/live-hall/revealjs/monitor.js')
