extend presentation

block slides
  != content

block body-scripts
  != assets.js('jQuery/jquery-1.9.1')
  if isPresenter
    != assets.js('presenter/RevealJsPresenter')
  else
    != assets.js('presenter/RevealJsViewer')
