div(data-widget="SlidesEditorPage")
  .sideshow-header
     button.close(data-dismiss="sideshow") &times;
     h3 Update Slides
  .sideshow-body
    form.form-horizontal(data-widget="@SlidesInfoForm", method="POST", action="/slides/#{slides.id}/edit")
      .control-group(data-widget="@Input")
        label.control-label(for="name") Slides Name
        .controls
          input#name.input-xlarge(name="name", type="text", placeholder='Slides Name', value=slides.name)

      .control-group(data-widget="@Input")
        label.control-label(for="theme") Theme
        .controls
          select#theme.input-xlarge(name="theme")
            option(value="deckjs", selected=(slides.theme=='deckjs')) deck.js
            option(value="revealjs", selected=(slides.theme=='revealjs')) reveal.js

      .control-group(data-widget="@Input")
        label.control-label(for="format") Slides Format
        .controls
          select#format.input-xlarge(name="format")
            option(value="jade", selected=(slides.format=='jade')) jade
            option(value="html", selected=(slides.format=='html')) html

      .control-group(data-widget="@Input")
        label.control-label(for="content") Slides Content
        .controls
          textarea#content.input-xlarge(name="content", rows="15")
            = slides.content

  .sideshow-footer
    button.btn.btn-primary(data-action-handler="submitSlidesInfo") Update
    button.btn(data-dismiss="sideshow") Cancel

  != assets.js('pages/SlidesEditorPage')
