extends ../page

block page-content
  .container
    .row
      ul.thumbnails
        each slides in  slideses
          li.span3
            .thumbnail
              a(href="#")
                img(data-src="holder.js/260x195")
                h3
                  = slides.name

        li.span3
          .thumbnail(style="width: 260px; height:255px;")
            a(href="/slides/new")
              img(src="/svg/plus.svg", style="width: 100px; height: 100px; margin: 77px 80px;"))

block body-scripts
  != assets.js('holder')