extends ../page

block stylesheets
  != assets.css('slides/new')

block page-content
  .container
    .row
      .span12
        h1.page-title Add Slides

    form.form-page(method="POST", action="/slides/new")
      .row
        .span12
          .control-group.horizontal
            label.control-label(for="name") Slides Name
            .controls
              input#name(name="name",type="text")
      .row
        .span4
          .control-group.horizontal
            label.control-label(for="theme") Theme
            .controls
              select#theme(name="theme")
                option(value="slidesjs") slides.js
                option(value="revealjs") reveal.js
        .span4
          .control-group.horizontal
            label.control-label(for="format") Format
            .controls
              select#format(name="format")
                option(value="jade") jade
                option(value="html") html
      .row
        .span12
          .control-group.fullfill
            label.control-label(for="content") Slides Content
            .controls
              textarea#content(name="content", rows="15").span12
      .row
        .span12
          .control-group.form-actions
            .controls
              button.btn.btn-primary(type="submit") Upload
              button.btn Cancel
