div(data-widget="CreateRoomPage")
  != assets.css('qrcode')

  .sideshow-header
     button.close(data-dismiss="sideshow") &times;
     h3 Create Room
  .sideshow-body
    form.form-horizontal(data-widget="@CreateRoomForm", method="POST", action="/room/create")
      .control-group(data-widget="@Input")
        label.control-label(for='roomName') Room Name
        .controls
          input#roomName.input-xlarge(name="name", type='text', placeholder='Room Name')

      .control-group(data-widget="@Input")
        label.control-label(for='roomDescription') Room Description
        .controls
          input#inputPassword.input-xlarge(name="description", type='text', placeholder='Room Description')


      input(type='hidden', name='id', value=roomId)

  .sideshow-footer
    button.btn.btn-primary(data-action-handler="createRoom") Create
    button.btn(data-dismiss="sideshow") Cancel

  != assets.js('pages/createRoom')
