div
  != assets.css('qrcode')
  .sideshow-header
     button.close(data-dismiss="sideshow") &times;
     h3 Create Room
  .sideshow-body
    form.form-horizontal(method="POST", action="/room/#{room.id}/update")
      .control-group
        label.control-label(for='roomName') Room Name
        .controls
          input#roomName.input-xlarge(name="name", type='text', placeholder='Room Name', value=room.name)

      .control-group
        label.control-label(for='roomDescription') Room Description
        .controls
          input#inputPassword.input-xlarge(name="description", type='text', placeholder='Room Description', value=room.description)

      input(type='hidden', name='id', value=room.id)

  .sideshow-footer
    button.btn.btn-primary Update
    button.btn(data-dismiss="sideshow") Cancel
