div
  != assets.css('sprites')

  .sideshow-header
     button.close(data-dismiss="sideshow") &times;
     h3 Browse Room

  .sideshow-body
    ul.media-list
        each room in rooms
          li.media
            i.pull-left.media-object.icon-ex-presentation.icon-large
            .media-body
              a(href="/room/#{room.id}")
                h4.media-heading= room.name
              = room.description

  .sideshow-footer
    button.btn(data-dismiss="sideshow") Cancel

