extends ./TiQrView

block title
  = "Lock " + roomName

block instruction
  p
    | Scan the QRCode with Tiqr to lock down the room
    <br>
    | Authentication required to perform presenter operations after the room locked down

block footnote
  p
    | To authenticate yourself
    | scan the QRCode with TiQr
    <br>
    | And you can unlock the room after you authenticated yourself