div(data-sideview="login", data-widget="LogInPage")
  != assets.css('qrcode')

  .sideshow-header
    button.close(data-dismiss="sideshow") &times;
    h3 Presenter Log In
  .sideshow-body
    form.form-horizontal(data-widget="@TokenLogInForm", method="GET", action="/room/#{roomId}/login")
      .control-group(data-widget="@Input")
        label.control-label(for='logInToken') Token
        .controls
          input#logInToken.input-xlarge(name="token", type='text', placeholder='Token')

      input(type='hidden', name='id', value=roomId)

  .sideshow-footer
    button.btn.btn-primary(data-action-handler="login") Simulate Log In
    button.btn.btn-danger(data-action-handler="fail") Simulate Failed Login
    button.btn(data-dismiss="sideshow") Cancel

  != assets.js('jQuery/jQuery.ajaxJson')
  != assets.js('pages/LogInPage')