div(data-widget="@PresenterView")
  != assets.css('qrcode')
  != assets.css('sprites')
  != assets.css('bootstrap-extension')
  != assets.css('editRoom')
  != assets.js('jQuery/bootstrap.switch')

  .sideshow-header
    button.close(data-dismiss="sideshow") &times;
    h3 Presenter View

  .sideshow-body
    .jumbotron(data-widget="@PresenterSharingBlock", data-links=JSON.stringify(slidesLinks))
      p
        .qrcode.img-rounded.img-polaroid(data-widget="QRCode", data-widget-part='qrCode')
      p
        .btn-group
          a.btn.btn-primary.btn-xlarge(data-widget-part='launchLink') Launch
          button.btn.btn-primary.btn-xlarge.dropdown-toggle(data-toggle="dropdown")
            span.caret
          ul.dropdown-menu
            li
              a(target='_blank', data-widget-part='viewLink') Preview
      p
        label.switch.switch-large(data-on-label="Note", data-off-label="Slides")
          input(type="checkbox")

  .sideshow-footer
    button.btn.btn-inverse.pull-left(data-action-handler="openEditRoomView") Edit Room
    button.btn.btn.btn-warning(data-action-handler="openLockRoomView") Lock Down
    button.btn(data-dismiss="sideshow") Cancel
