extends ./TiQrView

block title
  = "Unlock Room " + roomName

block instruction
  p
    | To unlock the room scan following QRcode with TiQr
    <br>
    | After you unlock the room, remove identity info from TiQr manually

block footnote
  .alert
    h4(style="margin-bottom: 5px") Warning!
    | This action will remove authentication requirement permanently.
    <br>
    | Every are opened to perform presenter action in the future.
