- var slidesCount = 36;
- var slidesPath = "https://dl.dropboxusercontent.com/u/359293/mobile_to_mobile_enterprise_system/";
- for(var i=1; i <= 36; i++)
  section.slide
    img(style="height: 100%; width: 100%;", src="#{slidesPath}Slide#{ i > 9 ? '' + i : '0' + i }.jpg")
    