- var slidesCount = 28;
- var slidesPath = "https://dl.dropboxusercontent.com/u/359293/Unlock%20And%20Unlock/";
- for(var i=1; i <= slidesCount; i++)
  section.slide
    img(style="height: 100%;", src="#{slidesPath}#{i}.png")